body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-container button.excluir {
    background-color: #dc3545;
    color: #fff;
}

.button-container button.cadastrar {
    background-color: #28a745;
    color: #fff;
}

.button-container button.proximo {
    background-color: #007BFF;
    color: #fff;
}

.button-container button:hover {
    filter: brightness(1.2);
}

#resultado {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#proximo {
    text-align: center;
    margin-top: 20px;
}