body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

input {
    width: 50px;
    text-align: center;
    margin: 0 5px;
    padding: 10px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

#confirmar {
    background-color: white;
    color: black;
}

#mensagem {
    margin-top: 20px;
}